{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchstore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/base.css' %}"/>
    {% block style %}
    {% endblock %}
</head>
<body>
<div id="navBar">
    <a href="/store/">
        <img id="navLogo" alt="watchstore 471" src="{% static 'store/logo.png' %}">
    </a>
	<a class="button rightFloat" href="/store/search/">Search</a>
    {% if request.session.loggedIn %}
        <a class="button rightFloat" href="/store/myAccount">my account</a>
        <a class="button rightFloat" href="/store/logout">logout</a>
    {% else %}
        <a class="button rightFloat" href="/store/choice/signup">sign up</a>
        <a class="button rightFloat" href="/store/choice/login">log in</a>
    {% endif %}
</div>
<div class="pageContent">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>