{% extends 'store/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'store/myAccount.css' %}"/>
{% endblock %}

{% block content %}
<div class="accountFrame">
    <h1>{{ fName }} {{ lName }}</h1>
    <h3>{{ email }}</h3>
    <h3>{{ address }}</h3>
    <div class="accountSection">
        <ul class="friendsList">
            <h1>Watching</h1>
            {% for friend in friendsList %}
                <li>
                    <a href="{% url 'user_profile' friend.0 %}">
                        <h3>{{ friend.1 }} {{ friend.2 }}</h3>
                        <h4>{{ friend.0 }}</h4>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="accountSection">
        <h1>My Cart</h1>
        {% for prod in cart %}
            <a href="{% url 'product_page' prod.ID %}">
                <h3 class="prodName">{{ prod.Name }}</h3>
    {#            <img class="cartIcon" src="{{ prod.Image }}">#}
                <h4 class="price">${{ prod.Price }}</h4>
                <form class="removeFromCart" action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="prodID" value="{{ prod.ID }}">
                    <input class="button" type="submit" value="remove from cart">
                </form>
            </a>
        {% endfor %}
        <form method="post" action="/store/myAccount/checkout/">
            {% csrf_token %}
            <input class="button" type="submit" value="Checkout">
        </form>
    </div>
    <div class="accountSection">
        <h1>Past Orders</h1>
		
		{% for order in orders %}
            <a href="{% url 'order_page' order.Order_Number %}">
                <h3 class="prodName">{{ order.Order_Number }} - ${{ order.Total_Price }}</h3>
                <h4 class="price">{{ order.Shipping_Info }}</h4>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}}