{% extends 'store/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'store/myAccount.css' %}"/>
{% endblock %}

{% block content %}
<div class="accoutFrame">
    <h1>{{ fName }} {{ lName }}</h1>
    <h3>{{ email }}</h3>
    <h3>{{ address }}</h3>
    <div class="accountSection">
        <h1>My Cart</h1>
        {% for prod in cart %}
            <a href="{% url 'product_page' prod.ID %}">
                <h3 class="prodName">{{ prod.Name }}</h3>
    {#            <img class="cartIcon" src="{{ prod.Image }}">#}
                <h4 class="price">${{ prod.Price }}</h4>
            </a>
        {% endfor %}
    </div>
    <div class="accountSection">
        <h1>Past Orders</h1>
		
		{% for order in orders %}
            <a href="{% url 'order_page' order.Order_Number %}">
                <h3 class="prodName">{{ order.Order_Number }} - {{ order.Total_Price }}</h3>
                <h4 class="price">{{ order.Shipping_Info }}</h4>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}}