{% extends 'store/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'store/myAccount.css' %}"/>
{% endblock %}

{% block content %}
    <div class="accountFrame">
        <h1>{{ fName }} {{ lName }}</h1>
        <h3>{{ email }}</h3>
        <h3>Responsibility level: {{ responsibility }}</h3>
        <div class="accountSection">
            <h2>Pending Merchant Accounts</h2>
            {% for merchant in pendingMerchants %}
                <a href="{% url 'merchant_page' merchant.0 %}">
                    <h4>{{ merchant.1 }} {{ merchant.2 }}</h4>
                    <h5>{{ merchant.0 }}</h5>
                    <h5>{{ merchant.4 }}</h5>
                    <h5>{{ merchant.3 }}</h5>
                </a>
                <form class="modDecision" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="merchant_email" value="{{ merchant.0 }}">
                    <select name="decision">
                        <option value="approve">approve</option>
                        <option value="reject">reject</option>
                    </select>
                    <input class="button" type="submit" value="submit">
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}}